<h2 class="page-title" style="margin-top: 30px">@ViewBag.Title</h2>

@model IEnumerable<Reviews.ViewModels.UserReviewsViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    // Distinct users
    var distinctUsers = Model.Select(x => new
    {
        UserName = x.UserName,
        FirstName = x.FirstName,
        LastName = x.LastName,
        ID = x.Id
    }).Distinct();

    // Comments and reviews
    var usersReviewsInfo = distinctUsers.Select(user => new
    {
        UserID = user.ID,
        UserName = user.UserName,
        FirstName = user.FirstName,
        LastName = user.LastName,
        Reviews = Model.Where(x => x.Id == user.ID).ToArray()
    });

    // User and its number of reviews
    var usersReplayCount = usersReviewsInfo.Distinct().Select(x => new { Name = x.UserName, Count = x.Reviews.Length });
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
    </tr>

    @{
        foreach (var user in usersReviewsInfo)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>
                    <ul>
                        @{

                            foreach (var review in user.Reviews)
                            {
                                <li>
                                    @Html.ActionLink(review.Title, "../Reviews/DetailsByTitle", new { title = review.Title })
                                </li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        }
    }
</table>

<hr/>

<section id="popular-users-graph">
    <h4>Most popular reviewers</h4>
    <p>Displays the users with the most reviews</p>
</section>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="~/Scripts/graph.js"></script>
<script>
        var usersData = @Html.Raw(Json.Encode(usersReplayCount));
        createPopularUsersGraph(usersData, "popular-users-graph");
</script>

<hr/>

<section id="popular-gender-graph">
    <h4>Users by gender</h4>
    <p>Displays the users who wrote reviews by their gender</p>
</section>
<script>
        $.ajax({
            url: '/User/GetGroupByGender',
            success: (data) => {
                createPopularUsersGraph(data, "popular-gender-graph");
            }
        })
</script>