<h2 class="page-title" style="margin-top: 30px">@ViewBag.Title</h2>

@model IEnumerable<Reviews.ViewModels.ReviewCommentViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var reviewComments = Model;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFullName)
        </th>
    </tr>

    @{
        foreach (var review in reviewComments)
        {
            <tr>
                <td>
                    @review.Title
                </td>
                <td>
                    @review.NumberOfComment
                </td>
                <td>
                    @review.AuthorFullName
                </td>
            </tr>
        }
    }

</table>

<style>
    .bar {
        fill: #117bf3;
        transition: fill 3s;
    }

        .bar:hover {
            fill: #108AEC;
        }
</style>

<hr/>

<section id="popular-reviews-graph">
    <h4>Most popular reviews</h4>
    <p>Show the most popular reviews according to the number of comments they got</p>
</section>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="~/Scripts/graph.js"></script>
<script>
    $.ajax({
        url: '/Reviews/StatsJson',
        success: function (result) {
            var usersData = result;
            createPopularReviewsGraph(usersData);
        },
        error: function(hxr, status, err) {
            console.log('status: ' + status + ', error: ' + err);
        }
    });

</script>